.bg-lemonade{
	background-color: #FFDC0E;
}
.bg-persimmon{
	background-color: #F57F27;
}
.bg-tangerine{
	background-color: #EC5623;
}
.bg-brick{
	background-color: #A94136;
}
.bg-kb{
	background-color: #5F3577;
}
.bg-downtown{
	background-color: #12959F;
}
.bg-southshore{
	background-color: #006171;
}
.bg-royal{
	background-color: #006171;
}
.bg-streetcar{
	background-color: #6D9A35;
}
.bg-okra{
	background-color: #AFBC26;
}
.bg-olive{
	background-color: #7A843B;
}
.bg-liveoak{
	background-color: #003F2E;
}
.bg-charcoal{
	background-color: #555962;
}
.bg-voodoo{
	background-color: #231F20;
}
.bg-cobblestone{
	background-color: #BEA68C;
}
.bg-myrtle{
	background-color: #9BA37E;
}
.bg-carriage{
	background-color: #B49255;
}
.bg-cayenne{
	background-color: #B49255;
}
.bg-bourbon{
	background-color: #B49255;
}




.color-lemonade{
	color: #FFDC0E;
}
.color-persimmon{
	color: #F57F27;
}
.color-tangerine{
	color: #EC5623;
}
.color-brick{
	color: #A94136;
}
.color-kb{
	color: #5F3577;
}
.color-downtown{
	color: #12959F;
}
.color-southshore{
	color: #006171;
}
.color-royal{
	color: #006171;
}
.color-streetcar{
	color: #6D9A35;
}
.color-okra{
	color: #AFBC26;
}
.color-olive{
	color: #7A843B;
}
.color-liveoak{
	color: #003F2E;
}
.color-charcoal{
	color: #555962;
}
.color-voodoo{
	color: #231F20;
}
.color-cobblestone{
	color: #BEA68C;
}
.color-myrtle{
	color: #9BA37E;
}
.color-carriage{
	color: #B49255;
}
.color-cayenne{
	color: #B49255;
}
.color-bourbon{
	color: #B49255;
}