
#contenido-crud
	#titles-crud
		width 680px
		display block
		margin 0 auto
		#title-lista
			font-size 20px
			font-weight bold
			line-height 65px
			color #60686a
		#add-new-item
			color #ffba48
			text-decoration none
			cursor pointer
			vertical-align middle
			line-height 65px
			font-weight bold
	#lista-crud
		margin 0 auto
		width 680px
		padding 0

		.item-lista
			line-height 60px
			border-width 1px  1px 0px 1px
			border-style solid
			border-color #d3d7d6
			display block
			background white

			a.eliminar-item
				color #dc6231
				text-decoration none
				margin-right 20px
				cursor pointer
				
			a.editar-item,
			a.bloquear-item
				color #ffba48
				text-decoration none
				margin-right 20px
				cursor pointer

			.title-lista
				margin-left 20px
				color #474d4d

		.item-lista:last-child
			border-width 1px  1px 1px 1px

		.item-lista:hover
			background rgba(0, 0, 0, 0.03)
#box
	padding 10px
	.title_box
		font-size 24px
		display block
		margin-bottom 20px
	input#input_name_box,
	input#input_lastname_box,
	input#input_email_box
		display block
		width 100%
	textarea#input_desc_box
		width 100%
		min-width 100%
		max-width 100%
		display block
		height 6em
		min-height 6em
		max-height 6em
	.botonera
		padding 10px


.bloq
	.title-lista
		color #576868
		text-decoration line-through

#wrap
	padding-top 0

header 
	position initial 

	#menu-header
		margin-top 0.8em

#user-header
	display inline-block
	float right
	margin-top 0.8em

	.uh-name
		margin-right 2em
		color #495051

	.uh-logout
		width 85px
		height 24px
		margin-right 2em		
		border 1px solid #d75821
		margin-top -0.2em

		a
			text-decoration none
			color #d75821
			font-size 0.7em
			padding 0.7em 0 0 0.6em

.alinear
	display inline-block
	vertical-align top



.cas-menu
	display none

	