@import url(http://fonts.googleapis.com/css?family=Volkhov:400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before 
  font-family: 'entypo', sans-serif;


*
	font-family 'Volkhov', serif

html, body
	min-height 100%
	height 100%
	background #fafafa

#wrap
	min-height 100%
	height 100%
	box-sizing border-box
	padding-top 45px
	padding-bottom 45px

.back-texture
	background #eaeaea url('../../img/subtle_white_feathers.png') 0 0 repeat


.alertify-logs
	top 10px
	right 10px
	z-index 8020

.title
	padding-left 25px
	border-bottom 1px solid #dfe3e4
	h2
		font-size 16px
		margin 0px !important
		line-height 55px
		color #424b4a
		display inline-block
		vertical-align middle
	.subtitle
		display inline-block
		vertical-align middle
		margin-left 10px
		font-size 16px
		color #d75821
		font-style italic


input[type="text"],
textarea,
input[type="password"]
	border 1px solid #ececec
	height 35px
	font-size 18px
	color grey
	margin: 4px 0px
	padding-left: 10px
	box-sizing border-box

.btn
	-webkit-transition all .3s ease
	   -moz-transition all .3s ease
	    -ms-transition all .3s ease
	     -o-transition all .3s ease
	        transition all .3s ease
	border-radius 2px
	color white
	padding: 7px 35px
	font-family 'Volkhov', serif

.btn-orange
	background #f26321
	border 1px solid #dd4d0e
.btn-orange:active
	background #e35414
	box-shadow inset 0px 1px 2px rgba(0, 0, 0, 0.1)
.btn-orange:hover
	background #ff7a40


.btn-grey
	background grey
	border 1px solid #7f8c8d


.text-center
	text-align center 
.text-right
	text-align right

ul 
	list-style none
	padding-left 30px

.pull-right
	float right
	display inline-block

.cut-text 
	text-overflow ellipsis
	overflow hidden
	white-space nowrap

header 
	position initial 

	#menu-header
		margin-top 0.8em

#user-header
	display inline-block
	float right
	margin-top 0.8em

	.uh-name
		margin-right 2em
		color #495051

	.uh-logout
		width 85px
		height 24px
		margin-right 2em		
		border 1px solid #d75821
		margin-top -0.2em

		a
			text-decoration none
			color #d75821
			font-size 0.7em
			padding 0.7em 0 0 0.6em

.alinear
	display inline-block
	vertical-align top

body
	overflow-y scroll