body 
  font-size: 16px
  min-width 500px

.list-group 
  font-size 1em

.product
	font-size 0em 
	img 
  		width 100%
  	.pr_valores
  		display inline-block
  		vertical-align top
  		width 35%
  		text-align right
	  	.pr_precio
	  		font-size 16px
	  		span
	  			color grey
	  			text-decoration line-through

	  	.pr_oferta
	  		font-size 16px
	  		color red
	.pr_detalle
		display inline-block
		width 65%
		font-size 16px
		
.logo h1 
  font-size 1.5em
  text-align center
  line-height 1.5em
  color white

.buscador 
  padding 1em

.alinear
	display inline-block
	vertical-align top


// header
#user-header
	right 2em
	top 0
	position absolute
	color white
	.uh-name
		line-height 66px
		margin-right 2em
	.uh-logout
		line-height 64px
		a 
			color white
			text-decoration underline
			font-size 0.8em

	form 
		margin-top 1em
		input[type='text'],input[type='password']
			color grey
			border none
			width 100px
		input[type='submit']
			width 60px
			border 1px solid white
			background #dd4814

// subir producto


#subir_producto
	
	text-align right
	padding-right 1em
	a
		border 1px solid
		padding 0.5em 1em
		font-size 1.5em

.volver
	margin-bottom 2em


// formulario

.formulario
	display inline-block
	text-align left
	width 250px
.center
	text-align center