footer
	display none
.ui-sortable-placeholder
	background red
	padding 20px
	margin-bottom 10px
	box-sizing border-box
	width 100%
	cursor pointer
	color #60686a
.ui-sortable-helper
	box-shadow 0px 5px 20px rgba(0, 0, 0, 0.3);

#boton-crear-proyecto
	text-decoration none

//scrollbar

.mCustomScrollBox>.mCSB_scrollTools
	border 1px solid #c6cacb
	width 22px !important
//.mCSB_scrollTools .mCSB_dragger
	
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
	background #c6cacb !important
	width 12px !important
	border-radius 0px !important
.mCSB_scrollTools .mCSB_draggerRail
	background transparent !important

.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight
	border 1px solid #c6cacb

.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonUp 
	background-position -94px 0 !important

.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonDown 
	background-position -94px -20px !important
.mCSB_container.mCS_no_scrollbar 
	margin-right 30px !important

// header usuario


#wrap
	padding-top 0

header 
	position initial 

	#menu-header
		margin-top 0.8em

#user-header
	display inline-block
	float right
	margin-top 0.8em

	.uh-name
		margin-right 2em
		color #495051

	.uh-logout
		width 85px
		height 24px
		margin-right 2em		
		border 1px solid #d75821
		margin-top -0.2em

		a
			text-decoration none
			color #d75821
			font-size 0.7em
			padding 0.7em 0 0 0.6em

.alinear
	display inline-block
	vertical-align top



// menu busqueda y crear producto

.title 
	width 100%
	padding-left 0

	.title-main
		padding-left 25px
.cas-menu
	display inline-block
	vertical-align top
	float right
	margin-right 2em
	margin-top 0.8em
	
	.cm-search
		height 19px
		margin-top -1px
		border 1px solid #dfe3e4
		padding 5px

	.cm-proyecto
		padding 0.5em 1em
		background #d75821
		color white
		font-size 0.8em
		border none
		margin-right 1em


// productos

.producto
	display inline-block
	width 33%